istioCNI:
  spec:
    version: v1.27.3
    namespace: istio-cni
    profile: ambient # Changed to ambient
    values:
      cni:
        ambient:
          reconcileIptablesOnStartup: true
# for ambient mode, RevisionBased updateStrategy not supported and no custom IstioRevisionTag is needed.
istioRevisionTags: null
  # default:
  #   istioRevision: default-v1-27-3
ztunnel:
  enabled: true # Changed to true
  spec:
    namespace: ztunnel
    profile: ambient
    version: v1.27.3
    values:
      ztunnel:
        logLevel: info
        terminationGracePeriodSeconds: 30
        # Below settings would be needed if using RevisionBased updateStrategy, but that is not supported in ambient mode.
        # xdsAddress: istiod-default-v1-27-3.istio-system.svc:15012
        # caAddress: istiod-default-v1-27-3.istio-system.svc:15012
revisions:
  - name: default
    spec:
      namespace: istio-system
      updateStrategy:
        inactiveRevisionDeletionGracePeriodSeconds: 30
        type: InPlace
      values:
        profile: ambient # Added profile ambient
        pilot:
          trustedZtunnelNamespace: ztunnel # Added trustedZtunnelNamespace
          autoscaleEnabled: true
          autoscaleMin: 1
          autoscaleMax: 2
          resources:
            requests:
              cpu: 50m
              memory: 32Mi
          # https://istio.io/v1.24/docs/ops/configuration/traffic-management/dns-proxy/#dns-auto-allocation-v2
          env:
            # Enable automatic address allocation, optional
            PILOT_ENABLE_IP_AUTOALLOCATE: "true"
            # https://github.com/istio/istio/issues/51214 Then set Label in K8s service istio.io/ingress-use-waypoint: "true" to enable waypoint routing for ingress gateways
            ENABLE_INGRESS_WAYPOINT_ROUTING: "true"
        global:
          proxy:
            resources:
              limits:
                cpu: 100m
                memory: 64Mi
              requests:
                cpu: 50m
                memory: 32Mi
          proxy_init:
            resources:
              limits:
                cpu: 100m
                memory: 64Mi
              requests:
                cpu: 50m
                memory: 32Mi
        meshConfig:
          enablePrometheusMerge: true
          # https://istio.io/v1.24/docs/ops/configuration/traffic-management/dns-proxy/#dns-auto-allocation-v2
          defaultConfig:
            proxyMetadata:
              # Enable basic DNS proxying
              ISTIO_META_DNS_CAPTURE: "true"
          accessLogFile: /dev/stdout
          discoverySelectors:
            - matchExpressions:
                - key: istio.io/rev
                  operator: Exists
            - matchLabels:
                kubernetes.io/metadata.name: istio-system
            - matchLabels:
                kubernetes.io/metadata.name: ztunnel
          enableTracing: true
          extensionProviders:
            - name: tempo
              opentelemetry:
                service: otel-collector.opentelemetry-collector.svc.cluster.local
                port: 4317
            - name: "oauth2-proxy"
              envoyExtAuthzHttp:
                service: "oauth2-proxy.authz-custom.svc.cluster.local"
                port: 80 # The k8s service port used by oauth2-proxy.
                includeRequestHeadersInCheck: ["authorization", "cookie"] # headers sent to the oauth2-proxy in the check request.
                headersToUpstreamOnAllow: ["authorization", "path", "x-auth-request-user", "x-auth-request-email", "x-auth-request-access-token"] # headers sent to backend application when request is allowed.
                headersToDownstreamOnAllow: ["set-cookie"] # headers sent back to the client when request is allowed.
                headersToDownstreamOnDeny: ["content-type", "set-cookie"] # headers sent back to the client when request is denied.
          outboundTrafficPolicy:
            mode: REGISTRY_ONLY # ALLOW_ANY
      version: v1.27.3