apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

helmCharts:
- name: istio-member-namespaces
  repo: https://trevorbox.github.io/helm-charts
  namespace: default
  valuesFile: values.yaml
  version: ~1.2.5
  releaseName: ossm3-member-namespaces
  additionalValuesFiles: 
    - values.yaml

resources:
  - networkpolicy-allow-istio-system-istio-ingress3.yaml
  - networkpolicy-allow-istio-system-spring-boot-demo2.yaml
