---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# resources:
# - istiorevisiontag-default.yaml

helmCharts:
- name: ossm3
  repo: https://trevorbox.github.io/helm-charts
  namespace: istio-system
  valuesFile: values.yaml
  version: ~3.1.4
  releaseName: ossm3-istio-system

