apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

helmCharts:
- name: istio-member-namespaces
  repo: https://trevorbox.github.io/helm-charts
  namespace: default
  valuesFile: values.yaml
  version: ~1.2.0
  releaseName: istio-member-namespaces
