installRequiredPythonLibraries: false
approveManualInstallPlanViaHook: true

installPlanApproverAndVerifyJobsImage: quay.io/trevorbox/installplanapproverandverifier:4.16.0 # quay.io/openshift/origin-cli:4.16

operatorGroups:
- name: tempo-operator
  createNamespace: true

operators:
- channel: stable
  installPlanApproval: Manual
  name: tempo-product
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  csv: tempo-operator.v0.18.0-2
  namespace: tempo-operator
  installPlanVerifierActiveDeadlineSeconds: 1200
